.resume-container {
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;

  .main-title {
    font-weight: 500;
    font-size: 2.25rem;
    margin-top: 1rem;
  }

  .header-container{
    text-align: center;
    margin-bottom: -1.75rem;
  }

  .date {
    color: rgb(218, 120, 120)
  }

  table {

    .date-col {
      width: 17%;
    }

    tr {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }


  .heading {
    font-weight: 550;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-top: 1.5rem;
  }
}